AppleAndSnake.xcodeproj/project.xcworkspace/xcuserdata/Jacky.xcuserdatad/UserInterfaceState.xcuserstate
AppleAndSnake.xcodeproj/xcuserdata/Jacky.xcuserdatad/xcschemes/AppleAndSnake.xcscheme
AppleAndSnake.xcodeproj/xcuserdata/Jacky.xcuserdatad/xcschemes/xcschememanagement.plist